<h1>Admin Invoices Index</h1>

<section id='all-invoices'>
  <% @invoices.each do |invoice| %>
    <section id='invoice-<%= invoice.id %>'>
      <%= link_to(invoice.id, admin_invoice_path(invoice.id)) %> <%= invoice.status_view_format %>
    </section>
    <br>
  <% end %>
</section>
